header{
    height: 70px;
    width: 100%;
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
   
}
header ul{
    display:flex;  
    gap: 6px; 
}
header ul li{
    list-style: none;
    
}

h1{
    color: blue;
    text-align: center;
}
img{
    height: 400px;
    width: 500px;
    border-radius: 20px;
}
footer{
   background-color: cadetblue; 
   height: 70px;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   text-align: center;
}